.pay-block {
	padding: 130px 0 60px;
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		background-image: url(../images/bg-decor-symbol.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		position: absolute;
		right: 0;
		top: 0;
		height: 430px;
		width: 430px;
		z-index: -1;

		@include mq("desktop-s", max) {
			height: 200px;
			width: 200px;
		}

		@include mq("phone", max) {
			height: 150px;
			width: 150px;
		}
	}

	@include mq("tablet", max) {
		padding: 80px 0 50px;
	}

	@include mq("phone", max) {
		padding: 60px 0 40px;
	}

	&__title-shadow {
		margin-top: -100px;
		left: 50%;
		text-align: center;
		transform: translateX(-50%);

		@include mq("tablet", max) {
			margin-top: -45px;
		}

		@include mq("tablet-s", max) {
			font-size: 110px;
		}

		@include mq("phone", max) {
			margin-top: -35px;
			font-size: 80px;
		}
	}

	&__title {
		margin-bottom: 100px;
		text-align: center;

		@include mq("tablet-s", max) {
			margin-bottom: 40px;
		}

		@include mq("phone-s", max) {
			margin-bottom: 30px;
			line-height: 1;
		}
	}
}
