.presentation-block {
	background-color: transparent;

	&__wrapper {
		border: 8px solid var(--red-color);
		border-radius: 8px;
		padding: 70px 140px;

		@include mq("tablet", max) {
			padding: 30px;
		}

		@include mq("phone", max) {
			padding: 25px 15px;
		}
	}

	&__title {
		text-align: center;
		margin-bottom: 10px;

		@include mq("tablet-s", max) {
			line-height: 0.9;
			margin-bottom: 20px;
		}

		@include mq("phone", max) {
			font-size: 34px;
		}
	}

	&__subtitle {
		display: block;
		font-weight: 400;
		font-size: 21px;
		text-align: center;
		margin-bottom: 35px;

		@include mq("tablet-s", max) {
			margin-bottom: 25px;
		}

		@include mq("phone", max) {
			font-size: 18px;
		}
	}

	&__form {
		.form-presentation__wrapper {
			@include mq("desktop-s", max) {
				display: block;
			}
		}

		.form-presentation__box {
			@include mq("desktop-s", max) {
				margin-bottom: 20px;
			}
		}

		.form-presentation__input {
			@include mq("desktop-s", max) {
				max-width: 100%;
			}

			@include mq("phone", max) {
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}

		.form-presentation__btn {
			@include mq("desktop-s", max) {
				display: block;
				margin: 0 auto;
			}

			@include mq("phone", max) {
				max-width: 100%;
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}
	}
}
