:root {
	// base
	--content-width: 1190px;
	--container-offset: 15px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));
	--font-family: "FiraSans", sans-serif;
	--font-size: 20px;

	// colors
	--accent-color: #dba069;
	--light-color: #f9f4f4;
	--black-color: #333;
	--block-color: rgba(132, 34, 49, 0.05);
	--red-color: #842231;
	--white-color: #fff;
	--grey-100-color: #f2f6fa;
	--grey-200-color: #929aa2;
}
