.contacts-block {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq("tablet", max) {
			flex-direction: column;
		}
	}

	&__content {
		font-size: 18px;
		max-width: 405px;
		width: 100%;

		@include mq("tablet", max) {
			max-width: 700px;
			order: 1;
			margin-bottom: 30px;
		}

		@include mq("phone-s", max) {
			margin-bottom: 20px;
		}
	}

	&__title {
		margin-bottom: 30px;

		@include mq("phone", max) {
			margin-bottom: 20px;
		}
	}

	&__adress {
		margin-bottom: 30px;

		@include mq("phone", max) {
			margin-bottom: 20px;
		}
	}

	&__box {
		display: flex;
		justify-content: space-between;

		@include mq("phone-s", max) {
			display: block;
		}
	}

	&__item {
		margin-bottom: 10px;
	}

	&__img {
		object-fit: contain;

		@include mq("phone-s", max) {
			height: 140px;
			width: 140px;
		}
	}
}

.map {
	max-width: 578px;
	height: 428px;
	width: 100%;
	margin-right: 30px;

	@include mq("tablet", max) {
		max-width: 100%;
		margin-right: 0;
		order: 2;
	}

	@include mq("tablet-s", max) {
		height: 328px;
	}

	@include mq("phone-s", max) {
		height: 250px;
	}
}
