.tehnology-block {
	padding: 130px 0 80px;
	position: relative;
	overflow: hidden;

	@include mq("tablet", max) {
		padding: 60px 0 40px;
	}

	&__title-shadow {
		margin-top: -100px;
		left: 50%;
		transform: translateX(-50%);

		@include mq("tablet", max) {
			margin-top: -65px;
		}

		@include mq("phone", max) {
			margin-top: -30px;
		}
	}

	&__title {
		text-align: center;
		margin-bottom: 80px;

		@include mq("tablet-s", max) {
			margin-bottom: 40px;
		}

		@include mq("phone", max) {
			margin-bottom: 30px;
			line-height: 0.9;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

		@include mq("tablet-s", max) {
			display: block;
		}
	}

	&__box {
		max-width: 500px;
		width: 100%;

		@include mq("tablet-s", max) {
			max-width: 100%;
			margin-top: 0;
		}

		&:not(:last-child) {
			margin-right: 30px;

			@include mq("tablet-s", max) {
				margin-right: 0;
				margin-bottom: 40px;
			}

			@include mq("phone", max) {
				margin-bottom: 20px;
			}
		}

		&--margin {
			margin-top: 55px;
		}
	}

	&__item {
		@include mq("tablet-s", max) {
			display: flex;
			flex-direction: column;
		}

		&:not(:last-child) {
			margin-bottom: 80px;

			@include mq("tablet-s", max) {
				margin-bottom: 40px;
			}

			@include mq("phone", max) {
				margin-bottom: 20px;
			}
		}
	}

	&__img {
		object-fit: contain;
		margin-bottom: 30px;

		@include mq("tablet-s", max) {
			margin-left: auto;
			margin-right: auto;
			order: 3;
		}
	}

	&__subtitle {
		margin-bottom: 10px;

		@include mq("tablet-s", max) {
			margin-bottom: 20px;
			text-align: center;
			order: -2;
		}
	}

	&__descr {
		font-size: 18px;

		@include mq("tablet-s", max) {
			order: -1;
			margin-bottom: 20px;
		}

		@include mq("phone", max) {
			font-size: 16px;
		}
	}
}
