.phone-link {
	display: flex;
	border: 1px solid var(--accent-color);
	border-radius: 4px;
	align-items: center;
	padding: 10px 20px;

	svg {
		margin-right: 10px;
	}
}

.whatsapp-link {
	transition: color 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			color: var(--accent-color);
		}
	}
}

.phone-link {
	position: relative;
	overflow: hidden;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		background-color: var(--accent-color);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform: translateX(-100%);
		transform-origin: 0 50%;
		transition: transform 0.3s ease 0s;
		z-index: -1;
	}

	@media (any-hover: hover) {
		&:hover::before {
			transform: translateX(0);
		}
	}
}

.pay {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&__item {
		flex: 0 0 205px;

		&:not(:last-child) {
			margin: 0 20px 20px 0;

			@include mq("phone-s", max) {
				margin-right: 0;
			}
		}
	}

	&__img {
		object-fit: contain;
		margin: 0 auto 10px auto;
	}

	&__name {
		display: block;
		font-weight: 700;
		font-size: 17px;
		text-align: center;
	}

	&__num {
		display: block;
		font-family: GothamPro;
		font-size: 36px;
		font-weight: 700;
		text-align: center;
		line-height: 0.7;
		margin-bottom: 20px;

		span {
			font-size: 90px;
		}
	}
}

.info {
	&__link {
		display: flex;
		align-items: center;
		transition: color 0.3s ease 0s;

		svg {
			width: 22px;
			height: 22px;
			fill: currentColor;
			margin-right: 15px;
			transition: fill 0.3s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--red-color);
			}
		}
	}
}
