.title-shadow {
	font-size: 286px;
	font-weight: 700;
	line-height: 0.8;
	color: rgba(#333, 0.09);
	margin-right: -500px;
	position: absolute;
	left: 0;
	z-index: -1;

	@include mq("desktop", max) {
		font-size: 250px;
	}

	@include mq("desktop-s", max) {
		font-size: 230px;
	}

	@include mq("tablet", max) {
		font-size: 200px;
	}

	@include mq("tablet-s", max) {
		font-size: 150px;
	}

	@include mq("phone", max) {
		font-size: 100px;
	}

	@include mq("phone-s", max) {
		font-size: 60px;
	}
}

.title-block {
	color: var(--black-color);
	font-size: 48px;
	font-weight: 700;
	line-height: 1.2;
}

.subtitle-block {
	font-weight: 700;
	line-height: 1.2;
}
